#### Date and Time Data Types and Tools

In [1]:
from datetime import datetime

now = datetime.now()

In [2]:
now

datetime.datetime(2018, 11, 30, 21, 25, 14, 60407)

In [3]:
now.year, now.month, now.day

(2018, 11, 30)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

![datetime](./pics/datetime.png)

#### Converting Between String and Datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

![datetime-format](./pics/datetime-format.png)

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [15]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [19]:
pd.isnull(idx)

array([False, False,  True])

> NaT (Not a Time) is pandas’s null value for timestamp data.

#### Time Series Basics

In [20]:
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [21]:
import numpy as np

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.222129
2011-01-05    0.680871
2011-01-07    1.508910
2011-01-08   -0.491430
2011-01-10    0.749691
2011-01-12    1.181132
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts + ts[::2]

2011-01-02    0.444257
2011-01-05         NaN
2011-01-07    3.017819
2011-01-08         NaN
2011-01-10    1.499381
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

#### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

1.5089097221269931

In [27]:
ts['1/10/2011']

0.7496905666787655

In [28]:
ts['20110110']

0.7496905666787655

In [29]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [30]:
longer_ts.tail()

2002-09-22    0.048203
2002-09-23    0.192906
2002-09-24   -0.742736
2002-09-25    0.405154
2002-09-26   -0.614712
Freq: D, dtype: float64

In [31]:
longer_ts['2001']

2001-01-01    0.338797
2001-01-02   -1.867049
2001-01-03   -0.868144
2001-01-04   -0.064113
2001-01-05   -0.804059
2001-01-06    0.498679
2001-01-07    0.601070
2001-01-08    0.799194
2001-01-09   -0.181708
2001-01-10   -1.110036
2001-01-11    0.452787
2001-01-12    0.865659
2001-01-13   -0.540815
2001-01-14    1.652603
2001-01-15    0.669199
2001-01-16   -1.408506
2001-01-17    0.295718
2001-01-18   -0.366203
2001-01-19    0.877272
2001-01-20   -0.964255
2001-01-21    0.071465
2001-01-22    0.297973
2001-01-23    1.690227
2001-01-24    0.504947
2001-01-25   -0.274182
2001-01-26    0.508492
2001-01-27   -0.730502
2001-01-28    2.741402
2001-01-29    0.368508
2001-01-30   -0.689603
                ...
2001-12-02    2.936067
2001-12-03   -0.261384
2001-12-04   -0.461736
2001-12-05   -0.280510
2001-12-06   -1.126540
2001-12-07   -0.250534
2001-12-08    1.675971
2001-12-09    1.351210
2001-12-10   -0.465389
2001-12-11    1.296838
2001-12-12    0.185175
2001-12-13    0.100680
2001-12-14    0.008619
2001-12-15    0.337708
2001-12-16    1.080706
2001-12-17    0.483372
2001-12-18    0.733173
2001-12-19    0.417587
2001-12-20    2.506464
2001-12-21    0.443302
2001-12-22   -0.026754
2001-12-23    1.184630
2001-12-24    0.126513
2001-12-25   -2.567022
2001-12-26   -0.376815
2001-12-27   -1.555071
2001-12-28    1.267543
2001-12-29    0.337478
2001-12-30   -1.084035
2001-12-31    0.711236
Freq: D, Length: 365, dtype: float64

In [32]:
longer_ts['2001-05']

2001-05-01    0.438642
2001-05-02    1.307333
2001-05-03   -1.488010
2001-05-04    0.150332
2001-05-05   -1.721207
2001-05-06    1.944644
2001-05-07    0.896432
2001-05-08    0.247651
2001-05-09    0.376661
2001-05-10    0.813923
2001-05-11    0.611215
2001-05-12    0.305735
2001-05-13   -0.871530
2001-05-14   -0.236320
2001-05-15    0.069550
2001-05-16   -2.110241
2001-05-17    0.335687
2001-05-18   -1.011641
2001-05-19   -0.768121
2001-05-20   -0.059091
2001-05-21   -0.979606
2001-05-22    0.578577
2001-05-23   -0.757113
2001-05-24   -1.437509
2001-05-25   -0.486841
2001-05-26   -0.392640
2001-05-27   -0.639247
2001-05-28   -0.125296
2001-05-29   -0.365598
2001-05-30   -1.165112
2001-05-31   -0.945471
Freq: D, dtype: float64

In [33]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.508910
2011-01-08   -0.491430
2011-01-10    0.749691
2011-01-12    1.181132
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.508910
2011-01-08   -0.491430
2011-01-10    0.749691
dtype: float64

In [35]:
ts.truncate(after='1/9/2011')

2011-01-02    0.222129
2011-01-05    0.680871
2011-01-07    1.508910
2011-01-08   -0.491430
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.747244  0.829019 -0.903244 -1.794994
2001-05-09 -0.231194 -1.196953 -1.400181 -0.024640
2001-05-16  0.110928 -1.877130  1.130781  1.288996
2001-05-23 -2.992630 -1.832040  0.402902  1.124380
2001-05-30 -0.010124  1.027272 -1.328984  1.140117

#### Time Series with Duplicate Indices

In [37]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [41]:
grouped = dup_ts.groupby(level=0)
grouped

In [42]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [43]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

#### Date Ranges, Frequencies, and Shifting

In [44]:
ts

2011-01-02    0.222129
2011-01-05    0.680871
2011-01-07    1.508910
2011-01-08   -0.491430
2011-01-10    0.749691
2011-01-12    1.181132
dtype: float64

In [45]:
resampler = ts.resample('D')

In [46]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

#### Generating Date Ranges

In [47]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2000-01-01', '2001-01-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

![frequencies](./pics/frequencies.png)

In [51]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

#### Frequencies and Date Offsets

In [53]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [55]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [56]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

#### Shifting (Leading and Lagging) Data

In [57]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -1.423972
2000-02-29    2.347644
2000-03-31    0.487184
2000-04-30   -0.119992
Freq: M, dtype: float64

In [58]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.423972
2000-04-30    2.347644
Freq: M, dtype: float64

In [59]:
ts.shift(-2)

2000-01-31    0.487184
2000-02-29   -0.119992
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [60]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -2.648658
2000-03-31   -0.792480
2000-04-30   -1.246297
Freq: M, dtype: float64

In [61]:
ts.shift(2, freq='M')

2000-03-31   -1.423972
2000-04-30    2.347644
2000-05-31    0.487184
2000-06-30   -0.119992
Freq: M, dtype: float64

In [62]:
ts.shift(3, freq='D')

2000-02-03   -1.423972
2000-03-03    2.347644
2000-04-03    0.487184
2000-05-03   -0.119992
dtype: float64

In [63]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -1.423972
2000-02-29 01:30:00    2.347644
2000-03-31 01:30:00    0.487184
2000-04-30 01:30:00   -0.119992
Freq: M, dtype: float64

In [64]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [65]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [66]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [67]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [68]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [69]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.059366
2000-01-19    0.187834
2000-01-23    0.588299
2000-01-27   -2.060480
2000-01-31    0.120980
2000-02-04   -0.702766
2000-02-08   -0.879580
2000-02-12   -0.721070
2000-02-16    0.683244
2000-02-20    1.337791
2000-02-24    0.590585
2000-02-28    0.240277
2000-03-03    2.278205
2000-03-07   -0.427282
2000-03-11   -1.322135
2000-03-15   -0.049321
2000-03-19    1.463906
2000-03-23    0.127189
2000-03-27    0.269123
2000-03-31   -1.425273
Freq: 4D, dtype: float64

In [70]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.244546
2000-02-29    0.078354
2000-03-31    0.114302
dtype: float64

In [71]:
ts.resample('M').mean()

2000-01-31   -0.244546
2000-02-29    0.078354
2000-03-31    0.114302
Freq: M, dtype: float64

#### Time Zone Handling

In [72]:
import pytz

pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [73]:
tz = pytz.timezone('America/New_York')

In [74]:
tz

In [75]:
tz = pytz.timezone('Asia/Shanghai')

In [76]:
tz

#### Time Zone Localization and Conversion

In [77]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.755825
2012-03-10 09:30:00   -0.115514
2012-03-11 09:30:00    2.609647
2012-03-12 09:30:00    0.248029
2012-03-13 09:30:00    0.681819
2012-03-14 09:30:00    0.080284
Freq: D, dtype: float64

In [78]:
print(ts.index.tz)

None

In [79]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [80]:
ts

2012-03-09 09:30:00    0.755825
2012-03-10 09:30:00   -0.115514
2012-03-11 09:30:00    2.609647
2012-03-12 09:30:00    0.248029
2012-03-13 09:30:00    0.681819
2012-03-14 09:30:00    0.080284
Freq: D, dtype: float64

In [81]:
ts_utc = ts.tz_localize('UTC')

In [82]:
ts_utc

2012-03-09 09:30:00+00:00    0.755825
2012-03-10 09:30:00+00:00   -0.115514
2012-03-11 09:30:00+00:00    2.609647
2012-03-12 09:30:00+00:00    0.248029
2012-03-13 09:30:00+00:00    0.681819
2012-03-14 09:30:00+00:00    0.080284
Freq: D, dtype: float64

In [83]:
ts.tz_localize('Asia/Shanghai')

2012-03-09 09:30:00+08:00    0.755825
2012-03-10 09:30:00+08:00   -0.115514
2012-03-11 09:30:00+08:00    2.609647
2012-03-12 09:30:00+08:00    0.248029
2012-03-13 09:30:00+08:00    0.681819
2012-03-14 09:30:00+08:00    0.080284
Freq: D, dtype: float64

In [84]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [85]:
ts.index

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [86]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.755825
2012-03-10 04:30:00-05:00   -0.115514
2012-03-11 05:30:00-04:00    2.609647
2012-03-12 05:30:00-04:00    0.248029
2012-03-13 05:30:00-04:00    0.681819
2012-03-14 05:30:00-04:00    0.080284
Freq: D, dtype: float64

In [87]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.755825
2012-03-10 14:30:00+00:00   -0.115514
2012-03-11 13:30:00+00:00    2.609647
2012-03-12 13:30:00+00:00    0.248029
2012-03-13 13:30:00+00:00    0.681819
2012-03-14 13:30:00+00:00    0.080284
Freq: D, dtype: float64

In [88]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.755825
2012-03-10 15:30:00+01:00   -0.115514
2012-03-11 14:30:00+01:00    2.609647
2012-03-12 14:30:00+01:00    0.248029
2012-03-13 14:30:00+01:00    0.681819
2012-03-14 14:30:00+01:00    0.080284
Freq: D, dtype: float64

In [89]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

#### Operations with Time Zone−Aware Timestamp Objects

In [90]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')

In [91]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [92]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [93]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [94]:
stamp_utc.value

1299902400000000000

In [95]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [96]:
from pandas.tseries.offsets import Hour

stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [97]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [98]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [99]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')