#### Date and Time Data Types and Tools

In [1]:
from datetime import datetime

now = datetime.now()

In [2]:
now

datetime.datetime(2018, 12, 6, 12, 38, 12, 127231)

In [3]:
now.year, now.month, now.day

(2018, 12, 6)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

![datetime](./pics/datetime.png)

#### Converting Between String and Datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

![datetime-format](./pics/datetime-format.png)

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [15]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [19]:
pd.isnull(idx)

array([False, False,  True])

> NaT (Not a Time) is pandas’s null value for timestamp data.

#### Time Series Basics

In [20]:
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [21]:
import numpy as np

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.316159
2011-01-05   -0.630528
2011-01-07    0.170693
2011-01-08   -0.598631
2011-01-10    0.429056
2011-01-12   -2.053520
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts + ts[::2]

2011-01-02    0.632318
2011-01-05         NaN
2011-01-07    0.341387
2011-01-08         NaN
2011-01-10    0.858112
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

#### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

0.1706933144206047

In [27]:
ts['1/10/2011']

0.4290558714286553

In [28]:
ts['20110110']

0.4290558714286553

In [29]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [30]:
longer_ts.tail()

2002-09-22   -0.500513
2002-09-23    1.386844
2002-09-24   -1.401745
2002-09-25   -0.773895
2002-09-26   -0.333487
Freq: D, dtype: float64

In [31]:
longer_ts['2001']

2001-01-01    2.030795
2001-01-02   -0.069401
2001-01-03    0.329989
2001-01-04   -0.484657
2001-01-05   -0.291013
2001-01-06   -2.129726
2001-01-07    0.033717
2001-01-08    0.350030
2001-01-09    0.338561
2001-01-10    0.065936
2001-01-11   -0.577452
2001-01-12   -1.098241
2001-01-13   -1.315386
2001-01-14   -0.362990
2001-01-15   -0.102106
2001-01-16   -1.703821
2001-01-17    0.793788
2001-01-18   -0.720261
2001-01-19    1.328363
2001-01-20   -0.398799
2001-01-21    1.328501
2001-01-22    1.102912
2001-01-23   -0.656756
2001-01-24   -1.259815
2001-01-25   -0.632951
2001-01-26   -1.914166
2001-01-27   -0.741827
2001-01-28   -2.145352
2001-01-29    0.382304
2001-01-30   -0.575652
                ...
2001-12-02    0.394101
2001-12-03    0.312677
2001-12-04   -0.126091
2001-12-05   -0.705090
2001-12-06   -0.462928
2001-12-07   -0.108154
2001-12-08   -0.278383
2001-12-09    0.774076
2001-12-10   -0.457549
2001-12-11   -1.703266
2001-12-12   -0.934822
2001-12-13    0.092235
2001-12-14    0.971619
2001-12-15   -0.068584
2001-12-16   -0.383063
2001-12-17   -1.150192
2001-12-18    0.505790
2001-12-19    0.931170
2001-12-20   -0.761288
2001-12-21   -1.082463
2001-12-22    0.285220
2001-12-23    0.666806
2001-12-24    0.433227
2001-12-25    0.226921
2001-12-26   -0.794547
2001-12-27   -0.030889
2001-12-28   -1.897806
2001-12-29   -0.132262
2001-12-30    0.800596
2001-12-31   -0.024902
Freq: D, Length: 365, dtype: float64

In [32]:
longer_ts['2001-05']

2001-05-01    0.445180
2001-05-02    0.502413
2001-05-03   -0.164858
2001-05-04    0.944907
2001-05-05    0.128289
2001-05-06    0.309099
2001-05-07   -1.037266
2001-05-08    0.788092
2001-05-09    0.076513
2001-05-10   -0.657220
2001-05-11   -0.186371
2001-05-12   -1.110869
2001-05-13   -1.210222
2001-05-14   -1.086777
2001-05-15   -0.261078
2001-05-16    0.545812
2001-05-17   -0.375744
2001-05-18   -0.098112
2001-05-19   -1.155109
2001-05-20    0.637248
2001-05-21    0.969730
2001-05-22    0.788949
2001-05-23   -1.151257
2001-05-24   -0.428083
2001-05-25    0.359332
2001-05-26    0.189415
2001-05-27   -0.591187
2001-05-28    0.120492
2001-05-29   -0.004347
2001-05-30    1.434238
2001-05-31   -0.181695
Freq: D, dtype: float64

In [33]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.170693
2011-01-08   -0.598631
2011-01-10    0.429056
2011-01-12   -2.053520
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.170693
2011-01-08   -0.598631
2011-01-10    0.429056
dtype: float64

In [35]:
ts.truncate(after='1/9/2011')

2011-01-02    0.316159
2011-01-05   -0.630528
2011-01-07    0.170693
2011-01-08   -0.598631
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.289768  0.436045 -0.926804  0.670706
2001-05-09 -0.888737 -0.542157 -0.952272 -0.591276
2001-05-16  0.485619  1.565372 -1.453449 -1.131222
2001-05-23  0.277942  0.741592 -0.496506  0.195998
2001-05-30 -0.374818  0.658461 -1.485123 -0.951603

#### Time Series with Duplicate Indices

In [37]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [41]:
grouped = dup_ts.groupby(level=0)
grouped

In [42]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [43]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

#### Date Ranges, Frequencies, and Shifting

In [44]:
ts

2011-01-02    0.316159
2011-01-05   -0.630528
2011-01-07    0.170693
2011-01-08   -0.598631
2011-01-10    0.429056
2011-01-12   -2.053520
dtype: float64

In [45]:
resampler = ts.resample('D')

In [46]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

#### Generating Date Ranges

In [47]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2000-01-01', '2001-01-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

![frequencies](./pics/frequencies.png)

In [51]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

#### Frequencies and Date Offsets

In [53]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [55]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [56]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

#### Shifting (Leading and Lagging) Data

In [57]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -1.740873
2000-02-29   -0.997514
2000-03-31   -0.280634
2000-04-30   -1.950034
Freq: M, dtype: float64

In [58]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.740873
2000-04-30   -0.997514
Freq: M, dtype: float64

In [59]:
ts.shift(-2)

2000-01-31   -0.280634
2000-02-29   -1.950034
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [60]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.427004
2000-03-31   -0.718667
2000-04-30    5.948686
Freq: M, dtype: float64

In [61]:
ts.shift(2, freq='M')

2000-03-31   -1.740873
2000-04-30   -0.997514
2000-05-31   -0.280634
2000-06-30   -1.950034
Freq: M, dtype: float64

In [62]:
ts.shift(3, freq='D')

2000-02-03   -1.740873
2000-03-03   -0.997514
2000-04-03   -0.280634
2000-05-03   -1.950034
dtype: float64

In [63]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -1.740873
2000-02-29 01:30:00   -0.997514
2000-03-31 01:30:00   -0.280634
2000-04-30 01:30:00   -1.950034
Freq: M, dtype: float64

In [64]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [65]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [66]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [67]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [68]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [69]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    1.677893
2000-01-19    1.641686
2000-01-23    0.409601
2000-01-27   -0.090054
2000-01-31    0.894447
2000-02-04    0.867161
2000-02-08    0.010128
2000-02-12    1.011341
2000-02-16   -0.483918
2000-02-20   -1.659809
2000-02-24   -0.017603
2000-02-28    1.325799
2000-03-03   -0.682125
2000-03-07    0.111290
2000-03-11    1.396857
2000-03-15   -2.283567
2000-03-19    0.961091
2000-03-23   -0.345098
2000-03-27   -0.092890
2000-03-31   -0.109770
Freq: 4D, dtype: float64

In [70]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.906715
2000-02-29    0.150443
2000-03-31   -0.130526
dtype: float64

In [71]:
ts.resample('M').mean()

2000-01-31    0.906715
2000-02-29    0.150443
2000-03-31   -0.130526
Freq: M, dtype: float64

#### Time Zone Handling

In [72]:
import pytz

pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [73]:
tz = pytz.timezone('America/New_York')

In [74]:
tz

In [75]:
tz = pytz.timezone('Asia/Shanghai')

In [76]:
tz

#### Time Zone Localization and Conversion

In [77]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.319337
2012-03-10 09:30:00    1.300490
2012-03-11 09:30:00    0.001210
2012-03-12 09:30:00    2.886142
2012-03-13 09:30:00    1.418808
2012-03-14 09:30:00    0.287136
Freq: D, dtype: float64

In [78]:
print(ts.index.tz)

None

In [79]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [80]:
ts

2012-03-09 09:30:00    0.319337
2012-03-10 09:30:00    1.300490
2012-03-11 09:30:00    0.001210
2012-03-12 09:30:00    2.886142
2012-03-13 09:30:00    1.418808
2012-03-14 09:30:00    0.287136
Freq: D, dtype: float64

In [81]:
ts_utc = ts.tz_localize('UTC')

In [82]:
ts_utc

2012-03-09 09:30:00+00:00    0.319337
2012-03-10 09:30:00+00:00    1.300490
2012-03-11 09:30:00+00:00    0.001210
2012-03-12 09:30:00+00:00    2.886142
2012-03-13 09:30:00+00:00    1.418808
2012-03-14 09:30:00+00:00    0.287136
Freq: D, dtype: float64

In [83]:
ts.tz_localize('Asia/Shanghai')

2012-03-09 09:30:00+08:00    0.319337
2012-03-10 09:30:00+08:00    1.300490
2012-03-11 09:30:00+08:00    0.001210
2012-03-12 09:30:00+08:00    2.886142
2012-03-13 09:30:00+08:00    1.418808
2012-03-14 09:30:00+08:00    0.287136
Freq: D, dtype: float64

In [84]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [85]:
ts.index

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [86]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.319337
2012-03-10 04:30:00-05:00    1.300490
2012-03-11 05:30:00-04:00    0.001210
2012-03-12 05:30:00-04:00    2.886142
2012-03-13 05:30:00-04:00    1.418808
2012-03-14 05:30:00-04:00    0.287136
Freq: D, dtype: float64

In [87]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.319337
2012-03-10 14:30:00+00:00    1.300490
2012-03-11 13:30:00+00:00    0.001210
2012-03-12 13:30:00+00:00    2.886142
2012-03-13 13:30:00+00:00    1.418808
2012-03-14 13:30:00+00:00    0.287136
Freq: D, dtype: float64

In [88]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.319337
2012-03-10 15:30:00+01:00    1.300490
2012-03-11 14:30:00+01:00    0.001210
2012-03-12 14:30:00+01:00    2.886142
2012-03-13 14:30:00+01:00    1.418808
2012-03-14 14:30:00+01:00    0.287136
Freq: D, dtype: float64

In [89]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

#### Operations with Time Zone−Aware Timestamp Objects

In [90]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')

In [91]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [92]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [93]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [94]:
stamp_utc.value

1299902400000000000

In [95]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [96]:
from pandas.tseries.offsets import Hour

stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [97]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [98]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [99]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [100]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    0.776643
2012-03-08 09:30:00   -0.626897
2012-03-09 09:30:00   -0.936431
2012-03-12 09:30:00    2.456664
2012-03-13 09:30:00    0.648101
2012-03-14 09:30:00   -1.737454
2012-03-15 09:30:00   -0.815781
2012-03-16 09:30:00   -1.057779
2012-03-19 09:30:00   -0.807086
2012-03-20 09:30:00    0.152914
Freq: B, dtype: float64

In [101]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2012-03-07 09:30:00+00:00    0.776643
2012-03-08 09:30:00+00:00   -0.626897
2012-03-09 09:30:00+00:00   -0.936431
2012-03-12 09:30:00+00:00    2.456664
2012-03-13 09:30:00+00:00    0.648101
2012-03-14 09:30:00+00:00   -1.737454
2012-03-15 09:30:00+00:00   -0.815781
Freq: B, dtype: float64

In [102]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00   -0.936431
2012-03-12 13:30:00+04:00    2.456664
2012-03-13 13:30:00+04:00    0.648101
2012-03-14 13:30:00+04:00   -1.737454
2012-03-15 13:30:00+04:00   -0.815781
Freq: B, dtype: float64

In [103]:
result = ts1 + ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -1.872863
2012-03-12 09:30:00+00:00    4.913328
2012-03-13 09:30:00+00:00    1.296202
2012-03-14 09:30:00+00:00   -3.474908
2012-03-15 09:30:00+00:00   -1.631562
Freq: B, dtype: float64

In [104]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

####  Periods and Period Arithmetic

In [105]:
p = pd.Period(2007, freq='A-DEC')
p + 5

Period('2012', 'A-DEC')

In [106]:
p - 2

Period('2005', 'A-DEC')

In [107]:
pd.Period('2014', freq='A-DEC') - p

7

In [108]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [109]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.330997
2000-02    1.045003
2000-03    1.654870
2000-04    0.178735
2000-05   -1.270612
2000-06    0.216765
Freq: M, dtype: float64

In [110]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

#### Period Frequency Conversion

In [111]:
p = pd.Period('2007', freq='A-FEB')

In [112]:
p

Period('2007', 'A-FEB')

In [113]:
p.asfreq('M', how='start')

Period('2006-03', 'M')

In [114]:
p.asfreq('M', how='end')

Period('2007-02', 'M')

![freqconversion](./pics/freqconversion.png)

In [115]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [116]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [117]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [118]:
ts

2006    0.172857
2007    0.600872
2008   -1.798187
2009    0.079567
Freq: A-DEC, dtype: float64

In [119]:
ts.asfreq('M', how='start')

2006-01    0.172857
2007-01    0.600872
2008-01   -1.798187
2009-01    0.079567
Freq: M, dtype: float64

In [120]:
ts.asfreq('B',how='end')

2006-12-29    0.172857
2007-12-31    0.600872
2008-12-31   -1.798187
2009-12-31    0.079567
Freq: B, dtype: float64

#### Quarterly Period Frequencies

In [121]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [122]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

![quarterlyFrequencyConventions](./pics/quarterlyFrequencyConventions.png)

In [123]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [124]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [125]:
p4pm

Period('2012-01-30 16:00', 'T')

In [126]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [127]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)

In [128]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [129]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
new_rng

PeriodIndex(['2010-10-28 16:00', '2011-01-28 16:00', '2011-04-28 16:00',
             '2011-07-28 16:00', '2011-10-28 16:00', '2012-01-30 16:00'],
            dtype='period[T]', freq='T')

In [130]:
ts.index = new_rng.to_timestamp(how='end')

In [131]:
ts

2010-10-28 16:00:59    0
2011-01-28 16:00:59    1
2011-04-28 16:00:59    2
2011-07-28 16:00:59    3
2011-10-28 16:00:59    4
2012-01-30 16:00:59    5
dtype: int64

#### Converting Timestamps to Periods (and Back)

In [132]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31   -0.769272
2000-02-29    0.804214
2000-03-31    0.084591
Freq: M, dtype: float64

In [133]:
pts = ts.to_period()

In [134]:
pts

2000-01   -0.769272
2000-02    0.804214
2000-03    0.084591
Freq: M, dtype: float64

In [135]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2

2000-01-29   -0.141271
2000-01-30   -0.382854
2000-01-31    0.027262
2000-02-01    1.782839
2000-02-02    0.526649
2000-02-03    0.060321
Freq: D, dtype: float64

In [136]:
ts2.to_period('M')

2000-01   -0.141271
2000-01   -0.382854
2000-01    0.027262
2000-02    1.782839
2000-02    0.526649
2000-02    0.060321
Freq: M, dtype: float64

In [137]:
pts = ts2.to_period()
pts

2000-01-29   -0.141271
2000-01-30   -0.382854
2000-01-31    0.027262
2000-02-01    1.782839
2000-02-02    0.526649
2000-02-03    0.060321
Freq: D, dtype: float64

In [138]:
pts.index.to_timestamp(how='start')[0]

Timestamp('2000-01-29 00:00:00', freq='D')

In [139]:
pts.to_timestamp(how='end')

2000-01-29   -0.141271
2000-01-30   -0.382854
2000-01-31    0.027262
2000-02-01    1.782839
2000-02-02    0.526649
2000-02-03    0.060321
Freq: D, dtype: float64

#### Creating a PeriodIndex from Arrays

In [140]:
data = pd.read_csv('examples/macrodata.csv')
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [141]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [142]:
data.index = index

In [143]:
data.head(4)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06

In [144]:
data.infl.head(4)

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
Freq: Q-DEC, Name: infl, dtype: float64

#### Resampling and Frequency Conversion

*Resampling* refers to the process of converting a time series from one frequency to another. Aggregating higher frequency data to lower frequency is called *downsampling*, while converting lower frequency to higher frequency is called *upsampling*.

In [145]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.head(10)

2000-01-01   -0.230944
2000-01-02   -0.646567
2000-01-03    0.105609
2000-01-04   -0.121259
2000-01-05   -0.087757
2000-01-06    2.257288
2000-01-07   -0.320067
2000-01-08    1.328378
2000-01-09   -0.333473
2000-01-10    1.358771
Freq: D, dtype: float64

In [146]:
ts.resample('M').mean()

2000-01-31   -0.039015
2000-02-29   -0.097531
2000-03-31    0.187782
2000-04-30    0.148104
Freq: M, dtype: float64

In [147]:
ts.resample('M', kind='period').mean()

2000-01   -0.039015
2000-02   -0.097531
2000-03    0.187782
2000-04    0.148104
Freq: M, dtype: float64

![ResampleMethod](./pics/ResampleMethod.png)

#### Downsampling

In [148]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [149]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [150]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int64

![Five-minuteResampling](./pics/Five-minuteResampling.png)

In [151]:
ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int64

In [152]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [153]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

#### Upsampling and Interpolation

In [154]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                                         freq='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05  0.796044 -0.269028 -0.930123 -2.586568
2000-01-12  1.402362  1.118287 -0.322373 -1.287186

In [155]:
df_daily = frame.resample('D').asfreq()

In [156]:
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05  0.796044 -0.269028 -0.930123 -2.586568
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  1.402362  1.118287 -0.322373 -1.287186

In [157]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05  0.796044 -0.269028 -0.930123 -2.586568
2000-01-06  0.796044 -0.269028 -0.930123 -2.586568
2000-01-07  0.796044 -0.269028 -0.930123 -2.586568
2000-01-08  0.796044 -0.269028 -0.930123 -2.586568
2000-01-09  0.796044 -0.269028 -0.930123 -2.586568
2000-01-10  0.796044 -0.269028 -0.930123 -2.586568
2000-01-11  0.796044 -0.269028 -0.930123 -2.586568
2000-01-12  1.402362  1.118287 -0.322373 -1.287186

In [158]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.796044 -0.269028 -0.930123 -2.586568
2000-01-06  0.796044 -0.269028 -0.930123 -2.586568
2000-01-07  0.796044 -0.269028 -0.930123 -2.586568
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  1.402362  1.118287 -0.322373 -1.287186

In [159]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06  0.796044 -0.269028 -0.930123 -2.586568
2000-01-13  1.402362  1.118287 -0.322373 -1.287186

#### Resampling with Periods

In [160]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index=pd.period_range('1-2000', '12-2001', freq='M'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [161]:
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01  0.929868  0.545721 -0.051753  0.725222
2000-02  0.110726  0.240378  1.471607  0.645117
2000-03  0.307572 -1.259961  0.277712  0.947635
2000-04  0.703817 -0.916410  0.604286  0.705440
2000-05  0.605817  0.480349  1.112628  0.594904

In [162]:
aunnal_frame = frame.resample('A-DEC').mean()
aunnal_frame

      Colorado     Texas  New York      Ohio
2000  0.516668 -0.097804  0.165093 -0.070701
2001 -0.381435  0.163067 -0.356554 -0.357211

In [163]:
aunnal_frame.resample('Q-DEC').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.516668 -0.097804  0.165093 -0.070701
2000Q2  0.516668 -0.097804  0.165093 -0.070701
2000Q3  0.516668 -0.097804  0.165093 -0.070701
2000Q4  0.516668 -0.097804  0.165093 -0.070701
2001Q1 -0.381435  0.163067 -0.356554 -0.357211
2001Q2 -0.381435  0.163067 -0.356554 -0.357211
2001Q3 -0.381435  0.163067 -0.356554 -0.357211
2001Q4 -0.381435  0.163067 -0.356554 -0.357211

In [164]:
aunnal_frame.resample('Q-DEC', convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q4  0.516668 -0.097804  0.165093 -0.070701
2001Q1  0.516668 -0.097804  0.165093 -0.070701
2001Q2  0.516668 -0.097804  0.165093 -0.070701
2001Q3  0.516668 -0.097804  0.165093 -0.070701
2001Q4 -0.381435  0.163067 -0.356554 -0.357211